*, html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(21, 21, 21, 0.2);
	background-clip: padding-box;
	border-radius: 16px;
	margin: 4px 0px 12px 0px;
}

::-webkit-scrollbar-thumb {
	background: #FDAA74;
	background-clip: padding-box;
	border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
	background: #FB7C3C;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
	background: #FB7C3C;
	background-clip: padding-box;
}

p, h1, h2, a, li {
	font-family: "Roboto";
}

h2 {
	font-size: 14px;
}

h1, .active, p a {
	color: #FEDBAA;
}

p a:hover {
	text-decoration: underline;
}

p, a, h2, li {
	color: #FFF5ED;
	text-decoration: none;
	margin: 0px;
}

body {
	display: grid;
	grid-template-columns: [line1] auto [line2] auto [line3];
	grid-template-rows: [row1] auto [row2];
	margin: 0px;
	overflow: none;
}

nav {
	position: sticky;
	top: 0;
	height: calc(100vh);
	grid-column: line1 / line2;
	grid-row: row1 / span row2;
	padding: 0px 8px 0px 4px;
	border-right: 2px solid #FEDBAA;
	overflow-y: auto;
}

nav a:last-child {
	margin-bottom: 4px;
}

nav h1, nav h2 {
	margin: 0px;
	margin-top: 4px;
}

nav h1:not:first-child {
	margin-top: 12px;
}

nav a {
	display: block;
	padding-left: 8px;
}

nav::-webkit-scrollbar {
	width: 12px;
}

nav::-webkit-scrollbar-track {
	margin-bottom: 4px;
}

nav::-webkit-scrollbar-track, nav::-webkit-scrollbar-thumb {
	border: 2px solid rgba(0, 0, 0, 0.0);
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

main {
	grid-column: line2 / span line3;
	grid-row: row1 / span row2;
	padding: 4px;
	margin: 0px;
	margin-right: 0px;
	overflow-y: auto;
}

main p, main li {
	margin: 0px;
}

#info {
	display: block;
	float: right;
	margin: 4px;
	padding: 4px;
	padding-bottom: 0px;
	border: 2px solid #FEDBAA;
	border-radius: 8px;
}

#info img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
}

#info h2 {
	margin-bottom: 4px;
	text-align: center;
}

#info p {
	display: flex;
	align-items:center;
	font-size: 12px;
	white-space: pre-wrap;
}

#info p img {
	width: 12px;
	height: 12px;
	margin-right: 1px;
	padding-bottom: 1px;
}